.App_head {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App_head h1 {
  margin: 0;
  padding: 20px 20px 10px;
}
.App_head button{
  margin-right: 20px;
}
  